.list {
  position: relative;
  gap: rem(16) rem(32);
}

.indicator {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-dark-5);
  }
}

.tab {
  z-index: 1;
  justify-content: space-between;
  padding: rem(8) rem(16);
  color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-md);

  transition: color 100ms ease;

  &[data-active] {
    .tabName {
      font-weight: 900;
    }
  }

  @mixin dark {
    color: var(--mantine-color-white);
  }
}
