.wrapper {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family: Greycliff CF, var(--mantine-font-family);
}

.item {
  display: flex;
}

.itemTitle {
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.description {
  margin-top: var(--mantine-spacing-xs);
}

.highlight {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
}
