.header {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.headerItem {
  height: 48px;
}

.link {
  display: block;
  line-height: 1;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));

  &[data-active="true"] {
    color: var(--mantine-primary-color-filled);
  }
}

.settings {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: rem(22);
  height: rem(22);
}
