.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(64px);
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-xl);
  font-weight: bold;
  box-sizing: border-box;
}

.avatarWrapper {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.username {
  cursor: pointer;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  display: block;
  line-height: 1;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    color: var(--mantine-color-indigo-filled);
  }
}
